<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
 >
   
   <bean id="person" class="com.huang.autoioc.Driver" />
   
   <bean id="person1" class="com.huang.autoioc.Driver" />
    
   <!-- 使用autowire="byName" 实现自动装配 会自动找 通过bean id和属性名称一致的bean -->
   <bean id="car" class="com.huang.autoioc.Car" autowire="byName" >
   
   </bean>
	
 </beans>
