<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 




    http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	
	<!-- aop 使用注解实现 -->
	
	<!--  
	<bean id="watcher" class="com.huang.aop.Watcher" ></bean>
	<bean id="player" class="com.huang.aop.Player" ></bean>
	-->
	<bean id="getminder" class="com.huang.aop.GetMinder" ></bean>
	<bean id="girl" class="com.huang.aop.Girl" ></bean>
	
	<aop:aspectj-autoproxy />
	
	
	
</beans>