<component name="ArtifactManager">
  <artifact type="war" name="springmvcpro:war">
    <output-path>$PROJECT_DIR$/../springmvcpro/target</output-path>
    <root id="archive" name="springmvcpro-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvcpro:war exploded" />
    </root>
  </artifact>
</component>